.head-session{
    background-color: #282c34;
    text-align: center;
    color: white;
    padding: .25rem;
}

.border-home{
    border-style: solid;
    border-color: #282c34;
    border-radius: .25rem;
    border-width: 2px;
}

.text-session{
    color: white;
    font-size: 1.15em;
    background-color: #282c34;
}