.sesion{
 margin-left: auto;
font-weight: bold;
font-size: 1.2rem;
}
.nav-btn {
  color: skyblue;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}
.nav-btn:hover {
  color: white;
}
.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background: rgba(11,25,52,1);
  background: linear-gradient(90deg, rgba(11,25,52,1) 0%, rgba(40,44,52,1) 100%);
  gap: 5em;
}
.nav-item{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.nav-icon {
  background-color: skyblue;
  width: 32px;
  border-radius: 5%;
  padding: 1px;
  transition: all 0.2s ease-in-out;
}
.nav-btn:hover > .nav-icon {
    background-color: white;
    transform: scale(1.2);
}